*{
    padding: 0px;
    margin: 0px;
    width:100%;
    transition: 0.5ms;

} 
.font{
    margin-left: 100px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    

}
 body{
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    text-align: center;
    color: green;
    height: 20%;
    width: auto;
}
.banner-items{
    margin-left: 50px;


}

.banner-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.link-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 3px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 40px;
}
.container-second{
    text-align: center;
}
.flex-container{
    display: flex;
}
.flex-container div{
  background-color:pink;
  font-color: black;
  width: 100px;
  margin: 50px;
  text-align:center;
  line-height: 75px;
  font-size: 10px;
  padding: 20px;

}
.third-container{
    text-align: center;
    margin-top: 5%;
    
}
.fourth-container{
    margin-top: 50px;
    padding:10px;
    justify-content:space-evenly;
    display:flex;
    flex-wrap: wrap;

}
.card1{
    width: 250px;
    height:150px;
    border-radius:1px solid gray;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 6px 6px 12px rgb(155, 144, 144);
    background-color:rgb(227, 195, 153);
    


}
.icon-style{
    width:50px;
}
.card2{
    width: 250px;
    height:150px;
    border-radius:1px solid gray;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(199, 107, 122);
    box-shadow: 1px solid gray;
   

} 
.card3{
    width: 250px;
    height:150px;
    border-radius:1px solid gray;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color:rgb(215, 127, 127);
   

} 
.half-width{
    width:40%;
    float: left;
    padding-top: 60px;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 30px;
}
.half-width img{
    width: 100%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color:black;
}
.updating-container{
    text-align: center;
    
}
.footer{
    background-color:black;
    color:red;
    text-decoration: wavy;
    padding:40px;
}
#style{
    color:wheat;
    size:5px;
}

    